<form>
    <input type="text" placeholder="Your name" required />
    <input type="email" placeholder="Your e-mail" required />
    <textarea name="" id="" placeholder="Your message"></textarea>
    <div>
      <img src="assets/img/checkbox.svg" alt="" />
      <p>
        I've read the
        <!-- Hier muss noch der Link eingefügt werden -->
        <a href="">privacy policy</a>
        and agree to the processing of my data as outlined.
      </p>
    </div>
    <button>Send</button>
  </form>
