<section>
  <div>
    <h1>{{ "WHY_ME" | translate }}</h1>
    <div class="why-me-content">
      <p>{{ "WHY_ME_TEXT" | translate }}</p>

      <div>
        <span>{{ "WHY_ME_IAM" | translate }}</span>

        <p class="hint" [class.hidden]="hasSeenAboutHint">
          Neugierig? Tippe auf ein Icon.
        </p>

        <div class="content-img">
          @for (ability of abilities; track ability.id) {
            <div (click)="openActiveOverlay(ability.id)">
              <img
                [class]="ability.iconClass"
                [src]="'assets/img/' + ability.icon"
                [alt]="ability.headlineKey | translate"
              />
              <p>{{ ability.headlineKey | translate }}</p>
            </div>
          }
        </div>


      </div>

      <a href="#contact_me"
        ><button>{{ "WHY_ME_BTN" | translate }}</button></a
      >
    </div>
  </div>

  <a class="arrow-img" (click)="goToNextSection()">
    <img src="assets/img/arrow-right.svg" alt="Arrow right" />
  </a>
</section>

<app-overlay
  [ability]="selectedAbility"
  [isOpen]="overlayOpen"
  (overlayClosed)="onOverlayClosed()"
></app-overlay>
