section {
  margin: 160px 160px 0px 80px;
  max-width: 840px;
  display: flex;
  align-items: start;
  gap: 40px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 56px;
    > button {
      align-self: flex-end;
    }
  }
}

.content-i-am {
  display: flex;
  justify-content: space-between;
  align-items: end;
  > span {
    font-size: 48px;
    font-weight: bold;
    color: var(--main-color);
    align-self: flex-start;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    > img {
      width: 32px;
    }
  }
}
