section {
  height: 100%;
  padding: 10vh 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    width: 1300px;
    padding-right: 144px;
    display: flex;
    align-items: start;
    gap: 40px;
  }
  .arrow-img {
    align-self: end;
  }
}

.why-me-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 32px;
  > span {
    font-size: 48px;
    font-weight: bold;
    color: var(--main-bright-color);
    line-height: 0.85;
    align-self: flex-start;
  }
}

.content-img {
  display: flex;
  justify-content: space-between;
  > div {
    cursor: pointer;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > p {
      text-align: center;
    }
    > img {
      height: 40px;
    }

    &:hover {
      > p {
        color: var(--main-bright-color);
      }

      .img-located {
        content: url(../../../assets/img/wm-located-hover.svg);
      }

      .img-remote {
        margin-top: 1px;
        content: url(../../../assets/img/wm-remote-hover.svg);
      }

      .img-view {
        content: url(../../../assets/img/wm-view-hover.svg);
      }

      .img-idea {
        content: url(../../../assets/img/wm-idea-hover.svg);
      }
    }
  }
}

.content-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 32px;
  > div {
    flex: 1;
    > h2 {
      margin-top: 0;
    }
    > ul {
      > li {
        margin-bottom: 8px;
      }
    }
  }
}

.hint {
  display: none;
}

@media (max-width: 1439.98px) {
  section {
    > div {
      width: clamp(948px, 81vw, 1300px);
      padding-right: clamp(0px, 8vw, 184px);
    }
  }

  .why-me-content {
    > div {
      flex-direction: row;
      gap: 100px;
    }
  }

  .content-img {
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: none;
    gap: 16px;
  }

  .content-text {
  justify-content: none;
  flex-direction: column;
  gap: 32px;
}
}

@media (max-width: 1199.98px) {
  section {
    > div {
      width: clamp(780px, 78vw, 984px);
      padding-right: 0px;
    }
  }
}

@media (max-width: 991.98px) {
  section {
    padding: 80px 32px;
    > div {
      width: clamp(588px, 78vw, 780px);
      gap: 32px;
    }
  }

  .why-me-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    > div {
      gap: 24px;
      > span {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  section {
    padding: 32px 40px 16px 40px;
    > div {
      width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .why-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    > div {
      gap: 12px;
      > span {
        align-self: center;
      }
    }
    > a {
      margin-top: 16px;
      align-self: center;
    }
  }

  .hint {
    display: block;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
  }

  .hint.hidden {
    opacity: 0;
  }

  .content-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 24px;
  }
}

@media (max-width: 677.98px) {
  .content-img {
    width: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
  }
}

@media (max-width: 575.98px) {
  section {
    padding: 24px 16px 8px 16px;
    > div {
      gap: 16px;
    }
  }

  .why-me-content {
    gap: 24px;
    > div {
      gap: 10px;
      > span {
        font-size: 32px;
      }
    }
  }
  .content-img {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 32px;
    > div {
      height: 72px;
    }
  }
}
