section {
  margin: 160px 160px 0px 80px;
  width: 840px;
  display: flex;
  align-items: start;
  gap: 40px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 56px;
    > button {
      align-self: flex-end;
    }
  }
}

.content {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  > span {
    font-size: 48px;
    font-weight: bold;
    color: var(--main-color);
    line-height: 0.85;
    align-self: flex-start;
  }
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > p {
      text-align: center;
    }

    &:hover {
      > p {
        color: var(--main-color);
      }

      .img-located {
        content: url(../../../assets/img/located-hover.svg);
      }

      .img-remote {
        content: url(../../../assets/img/remote-hover.svg);
      }
    }
  }
}

@media (max-width: 1199.98px) {
  section {
    margin: 160px 40px 0px 40px;
    width: 70vw;
  }
}

@media (max-width: 991.98px) {
  section {
    margin: 80px 32px 0px 32px;
    > div {
      gap: 40px;
    }
  }
  .content {
    height: 100px;
    > span {
      font-size: 32px;
    }
    > div {
      width: 160px;
    }
  }
  .img-located {
    width: 28px;
  }

  .img-remote {
    width: 48px;
  }
}
