<section>
  <div>
    <h1>{{ "MY_WORK" | translate }}</h1>
    <div>
      <div class="project-container">
        <span>Frontend</span>

        <div>
          @for (singleproject of frontendProjects; track singleproject.id) {
          <span
            [class.active]="activeFrontendProject?.id === singleproject.id"
            (click)="showFrontendProject(singleproject)"
          >
            {{ singleproject.id }}. {{ singleproject.name }}
          </span>
          }
        </div>

        <app-project
          [project]="activeFrontendProject"
          [isExpanded]="true"
        ></app-project>
      </div>

      <div class="project-container">
        <span>Backend</span>

        <div>
          @for (singleproject of backendProjects; track singleproject.id) {
          <span
            [class.active]="activeBackendProject?.id === singleproject.id"
            (click)="showBackendProject(singleproject)"
          >
            {{ singleproject.id }}. {{ singleproject.name }}
          </span>
          }
        </div>

        <app-project
          [project]="activeBackendProject"
          [isExpanded]="true"
        ></app-project>
      </div>

      <div class="project-container-mobile">
        <span>Frontend</span>
        @for (p of frontendProjects; track p.id) {
        <app-project
          [project]="p"
          [isExpanded]="expandedProjectId === p.id"
          (toggleRequest)="toggleProjectExpansion(p.id)"
        ></app-project>
        }
      </div>

      <div class="project-container-mobile">
        <span>Backend</span>
        @for (p of backendProjects; track p.id) {
        <app-project
          [project]="p"
          [isExpanded]="expandedProjectId === p.id"
          (toggleRequest)="toggleProjectExpansion(p.id)"
        ></app-project>
        }
      </div>

      <div class="ongoing-project">
        <div>
          <div>4</div>
          <span>{{ "MY_WORK_ONGOING" | translate }}</span>
        </div>
        <p>{{ "MY_WORK_ONGOING_TEXT" | translate }}</p>
      </div>
    </div>
  </div>

  <a class="arrow-img" (click)="goToNextSection()">
    <img src="assets/img/arrow-right.svg" alt="Arrow right" />
  </a>
</section>
