<section>
  <div>
    <h1>{{ "MY_WORK" | translate }}</h1>
    <div>
      <app-project-section
        title="Frontend"
        [expandedProjectId]="expandedProjectId"
        [projects]="frontendProjects"
        (toggle)="toggleProjectExpansion($event)"
      ></app-project-section>

      <app-project-section
        title="Backend"
        [expandedProjectId]="expandedProjectId"
        [projects]="backendProjects"
        (toggle)="toggleProjectExpansion($event)"
      ></app-project-section>

      <div class="experience-section">
        <span>{{ "ONGOING_PROJECTS.TITLE" | translate }}</span>

        <div class="ongoing-projects">
          <span>{{
            "ONGOING_PROJECTS.PROFESSIONAL.SUBTITLE" | translate
          }}</span>
          <p>{{ "ONGOING_PROJECTS.PROFESSIONAL.TECH_STACK" | translate }}</p>
          <div>
            {{ "ONGOING_PROJECTS.PROFESSIONAL.DESCRIPTION" | translate }}
          </div>
        </div>

        <div class="ongoing-projects">
          <span>{{ "ONGOING_PROJECTS.PRIVATE.SUBTITLE" | translate }}</span>
          <p>{{ "ONGOING_PROJECTS.PRIVATE.TECH_STACK" | translate }}</p>
          <div>{{ "ONGOING_PROJECTS.PRIVATE.DESCRIPTION" | translate }}</div>
        </div>
      </div>
    </div>
  </div>

  <a class="arrow-img" (click)="goToNextSection()">
    <img src="assets/img/arrow-right.svg" alt="Arrow right" />
  </a>
</section>
