section {
  height: 100%;
  padding-block: 80px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  > div {
    display: flex;
    align-items: start;
    gap: 40px;
    > div {
      display: flex;
      align-items: start;
      gap: 56px;
    }
  }
  .arrow-img {
    align-self: end;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    gap: 8px;
    > span {
      cursor: pointer;
      flex: 1;
      margin-inline: 1px;
      padding: 6px 12px;
      text-align: center;
      font-size: 16px;
      color: rgb(255, 253, 253);
      background-color: rgba(137, 188, 217, 0.3);
      border: 0.5px solid var(--main-bright-color);
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &:hover {
        font-size: 18px;
      }
      &.active {
        margin-inline: 0px;
        font-size: 20px;
        color: var(--main-bright-color);
        background-color: rgba(137, 188, 217, 0.15);
        border: none;
      }
    }
  }
}

.project-container-mobile {
  display: none;
}

.ongoing-project {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  > div {
    display: flex;
    align-items: center;
    gap: 16px;
    > div {
      font-size: 48px;
      line-height: 0.85;
      font-weight: 700;
      color: transparent;
      -webkit-text-stroke: 1px var(--main-bright-color);
    }
    > span {
      font-size: 30px;
      color: var(--main-bright-color);
    }
  }
  > a {
    align-self: center;
  }
}

@media (max-width: 1199.98px) {
  section {
    padding-inline: 60px;
  }
}

@media (max-width: 991.98px) {
  section {
    padding-inline: 40px;
  }
}

@media (max-width: 767.98px) {
  section {
    width: 100%;
    padding: 32px 40px 16px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      > div {
        flex-direction: column;
        gap: 32px;
      }
    }
  }

  .project-container {
    display: none;
  }

  .project-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .ongoing-project {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  section {
    padding: 24px 16px 8px 16px;
    > div {
      gap: 16px;
    }
  }

  .ongoing-project {
    > div {
      align-items: start;
      > div {
        font-size: 32px;
        line-height: 1;
      }
      > span {
        font-size: 24px;
        line-height: 1.1;
      }
    }
  }
}
