<section>
  <div>
    <h1>Contact Me</h1>
    <div>
      <form>
        <input type="text" placeholder="Your name" required />
        <input type="email" placeholder="Your e-mail" required />
        <textarea name="" id="" placeholder="Your message"></textarea>
        <div>
          <img src="assets/img/checkbox.svg" alt="" />
          <p>
            I've read the
            <!-- Hier muss noch der Link eingefügt werden -->
            <a href="">privacy policy</a>
            and agree to the processing of my data as outlined.
          </p>
        </div>
        <button>Send</button>
      </form>

      <div class="content">
        <p>Let us work toghether.</p>
        <p>
          Whether your project involves developing a new application, upgrading
          existing systems, or implementing robust cybersecurity measures, I
          have the technical acumen and problem-solving skills to ensure
          successful outcomes.
        </p>

        <div>
          <p>
            <img src="assets/img/mail.svg" alt="" />
            <!-- Hier muss noch die E-Mailadresse angepasst werden -->
            <a href="">E-mail: renken.susanne&#64;gmail.com</a>
          </p>
          <p>
            <img src="assets/img/phone.svg" alt="" />
            <a href="">Tel: 0173 3963 852</a>
          </p>
        </div>

        <a class="arrow-img" href="#landing_page">
          <img src="assets/img/arrow-left.svg" alt="Arrow left" />
        </a>

        <div>
          <a href="">Legal notice</a>
          <a href="">privacy policy</a>
          <p>&#64; Susanne Renken 2025</p>
        </div>
      </div>
    </div>
  </div>

  <div class="social-media">
    <div>
      <img
        class="img-github"
        src="assets/img/github-btn-default.svg"
        alt="GitHub"
      />
      <img class="img-mail" src="assets/img/mail-btn-default.svg" alt="Mail" />
      <img
        class="img-linkedin"
        src="assets/img/linkedin-btn-default.svg"
        alt="LinkedIn"
      />
    </div>
    <div>
      <span>DE</span>
      |
      <span>EN</span>
    </div>
  </div>

  <!-- <footer>
    <img src="../../../assets/img/Logo-Platzhalter.png" alt="Profile Image" />

    <div>
      <p>&#64; Susanne Renken 2025</p>
      <div>
        <a href="">Legal notice</a>
        <a href="">privacy policy</a>
      </div>
    </div>

    <img src="../../../assets/img/Logo-Platzhalter.png" alt="Profile Image" />
  </footer> -->
  
</section>
