section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  > div {
    width: 100%;
    margin-left: 40px;
    display: flex;
    align-items: start;
    gap: 40px;
    > div {
      display: flex;
      gap: 40px;
    }
  }
  > span {
    height: 100vh;
    width: 100px;
    background-color: var(--main-color);
  }
}

form {
  width: 456px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  > div {
    display: flex;
    align-items: start;
    gap: 8px;
    > p {
      font-size: 14px;
      color: var(--main-color);
      > a {
        font-size: 14px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  > button {
    align-self: end;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  > :first-child {
    color: rgb(147, 165, 214);
  }
  > :nth-child(2) {
    text-align: justify;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    > p {
      > img {
        height: 18px;
        margin-right: 8px;
      }
    }
  }
  > :nth-last-child(1) {
    margin-top: auto;
    gap: 8px;
    > * {
      font-size: 14px;
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1299.99px) {
  .content {
    > form {
      width: 400px;
    }
  }
}

@media (max-width: 1199.99px) {
  section {
    width: auto;
    > div {
      gap: 24px;
    }
    > span {
      width: 80px;
    }
  }
  .content {
    > div {
      width: 356px;
    }
  }
}
