section {
  height: 100%;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  > :first-child {
    display: flex;
    align-items: start;
    gap: 40px;
    > div {
      display: flex;
      gap: 32px;
    }
  }
  > :nth-child(2) {
    position: absolute;
    right: 120px;
    top: 16px;
    display: flex;
    align-items: center;
    gap: 48px;
    z-index: 999;
  }
}

.content {
  width: 483px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  > :first-child {
    color: var(--main-bright-color);
  }

  > :nth-last-child(1) {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    > * {
      font-size: 14px;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: var(--main-bright-color);
  }
  &:active {
    color: var(--main-bright-color);
    text-decoration: underline;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
  > a {
    cursor: pointer;
    > img {
      width: 32px;
      height: 18px;
      margin-right: 8px;
      object-fit: contain;
    }
  }
}

.arrow-img {
  margin-block: 16px;
}

.social-media {
  display: flex;
  gap: 16px;
  > img {
    cursor: pointer;
  }
  .img-github:hover {
    content: url(../../../assets/img/github-btn-hover.svg);
  }
  .img-mail:hover {
    content: url(../../../assets/img/mail-btn-hover.svg);
  }
  .img-linkedin:hover {
    content: url(../../../assets/img/linkedin-btn-hover.svg);
  }
}

.language-switch {
  display: flex;
  align-items: end;
  gap: 8px;
  > span {
    cursor: pointer;
    line-height: 1.15;
    &:hover {
      color: var(--main-bright-color);
    }
  }
}

.active {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-bright-color);
}

@media (max-width: 1199.98px) {
  section {
    > :first-child {
      gap: 24px;
    }
  }
}

@media (max-width: 991.98px) {
  section {
    padding: 100px 32px 100px 32px;
  }

  .content {
    > :nth-last-child(1) {
      > * {
        font-size: 12px;
      }
    }
  }
  .social-media {
    top: 24px;
  }
}

@media (max-width: 767.98px) {
  section {
    height: auto;
    padding: 32px 40px 16px 40px;
    flex-direction: column;
    > :first-child {
      flex-direction: column;
      gap: 24px;
      > div {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
      }
    }
    > :nth-child(2) {
      position: relative;
      right: auto;
      top: auto;
      margin-top: 40px;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 24px;
    }
  }

  .content {
    width: 100%;
    align-items: start;
    gap: 24px;
    > div {
      width: 100%;
      align-items: start;
      gap: 12px;
    }
    > :nth-last-child(1) {
      display: none;
    }
  }

  .contact-info {
    margin-top: 8px;
    align-items: start;
    gap: 16px;
    > a {
      text-align: start;
    }
  }
}

@media (max-width: 575.98px) {
  section {
    padding: 24px 16px 8px 16px;
    > :first-child {
      gap: 16px;
    }
  }

  .content {
    gap: 16px;
  }

  .language-switch {
    display: none;
  }
}
