<section>
  <div>
    <h1>Contact Me</h1>
    <div>
      <form>
        <input type="text" placeholder="Your name" required />
        <input type="email" placeholder="Your e-mail" required />
        <textarea name="" id="" placeholder="Your message"></textarea>
        <div>
          <img src="assets/img/checkbox.svg" alt="" />
          <p>
            I've read the
            <!-- Hier muss noch der Link eingefügt werden -->
            <a href="">privacy policy</a>
            and agree to the processing of my data as outlined.
          </p>
        </div>
        <button>Send</button>
      </form>

      <div class="content">
        <p>Let us work toghether.</p>
        <p>
          Contact me through this form, I am interested in hearing from you,
          knowing your ideas and contributing to your projects with my work.
        </p>

        <div class="contact-info">
          <a>
            <img src="assets/img/mail.svg" alt="" />
            <!-- Hier muss noch die E-Mailadresse angepasst werden -->
            E-mail: renken.susanne&#64;gmail.com
          </a>
          <a>
            <img src="assets/img/phone.svg" alt="" />
            Tel: 0173 3963 852
          </a>
        </div>

        <a class="arrow-img" href="#landing_page">
          <img src="assets/img/arrow-left.svg" alt="Arrow left" />
        </a>

        <div>
          <a href="">Legal notice</a>
          <a href="">privacy policy</a>
          <p>&#64; Susanne Renken 2025</p>
        </div>
      </div>
    </div>
  </div>

  <div class="social-media">
    <div>
      <img
        class="img-github"
        src="assets/img/github-btn-default.svg"
        alt="GitHub"
      />
      <img class="img-mail" src="assets/img/mail-btn-default.svg" alt="Mail" />
      <img
        class="img-linkedin"
        src="assets/img/linkedin-btn-default.svg"
        alt="LinkedIn"
      />
    </div>
    <div>
      <span>DE</span>
      |
      <span>EN</span>
    </div>
  </div>
</section>
