<section>
  <h1>My Skill Set</h1>
  <div>
    <p>
      The IT landscape is continuously evolving, with new technologies and
      methodologies. Staying motivated to expand my IT skills requires a
      strategic approach, a curious mindset, and a commitment to lifelong
      learning.
    </p>

    <div>
      @for (element of skillIconsList; track element.name) {
      <div class="content">
        <div>
          <img [src]="element.url" alt="" />
        </div>
        <p>{{ element.name }}</p>
      </div>
      }
      <div class="content challenge-container">
        <div>
          <img src="assets/img/challenge-me.svg" alt="" />
        </div>
        <p>Challenge me</p>
      </div>
      <span>
        I am always happy to learn new technologies, just tell me what you need.
      </span>
    </div>
  </div>
</section>