<section>
  <h1>{{ 'MY_SKILL_SET' | translate }}</h1>
  <div>
    <p>{{ 'MY_SKILL_SET_TEXT' | translate }}</p>

    <div>
      @for (element of skillIconsList; track element.name) {
      <div class="content">
        <div>
          <img [src]="element.url" alt="" />
        </div>
        <p>{{ element.name }}</p>
      </div>
      }

      <div class="challenge-container">
        <div class="content">
          <div>
            <img src="assets/img/challenge-me.svg" alt="" />
          </div>
          <p>{{ 'MY_SKILL_SET_CHALLENGE' | translate }}</p>
        </div>
        <span>{{ 'MY_SKILL_SET_HOVER' | translate }}</span>
      </div>
    </div>
  </div>

  <a class="arrow-img" href="#my_work">
    <img src="assets/img/arrow-right.svg" alt="Arrow right" />
  </a>
</section>
