.project-container {
  display: flex;
  flex-direction: column;
  > span {
    font-size: 30px;
    color: var(--main-bright-color);
  }
  > div {
    display: flex;
    gap: 8px;
    > span {
      cursor: pointer;
      flex: 1;
      margin-inline: 1px;
      padding: 6px 12px;
      text-align: center;
      font-size: 16px;
      color: rgb(255, 253, 253);
      background-color: rgba(137, 188, 217, 0.3);
      border: 0.5px solid var(--main-bright-color);
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &:hover {
        font-size: 18px;
      }
      &.active {
        margin-inline: 0px;
        font-size: 20px;
        color: var(--main-bright-color);
        background-color: rgba(137, 188, 217, 0.15);
        border: none;
      }
    }
  }
}

.project-container-mobile {
  display: none;
}

@media (max-width: 767.98px), (max-height: 700px) {
  .project-container {
    display: none;
  }

  .project-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    > span {
      font-size: 24px;
      color: var(--main-bright-color);
      line-height: 1.1;
    }
  }
}
