<section>
  <div class="title-content">
    <div>1</div>
    <div>
      <div>Project Join</div>
      <div>JavaScript | Firebase | HTML | CSS</div>
    </div>
  </div>

  <div class="project-content">
    <div>
      <p>
        A simple Jump-and-Run game based on an object-oriented approach. Help
        sharkie to find coins and poison bottles to fight against the killer
        whale.
      </p>

      <div>
        <button class="btn-secondary">GitHub</button>
        <button>Live Test</button>
      </div>
    </div>

    <img src="assets/img/join.png" alt="" />
  </div>
</section>
