section {
  width: 920px;
  height: 560px;
  padding: 32px;
  background-color: rgba(137, 188, 217, 0.15);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  > :nth-child(2) {
    display: none;
  }
}

.title-content {
  display: flex;
  gap: 24px;
  > :first-child {
    font-size: 120px;
    font-weight: 700;
    line-height: 0.85;
    color: transparent;
    -webkit-text-stroke: 1px var(--main-bright-color);
  }
  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > :first-child {
      font-size: 54px;
      line-height: 1.2;
      color: var(--main-bright-color);
    }
    > :nth-child(2) {
      font-size: 24px;
      color: var(--main-dark-color);
    }
  }
}

.project-content {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  display: flex;
  gap: 40px;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > img {
      display: none;
    }
    > div {
      display: flex;
      gap: 12px;
    }
  }
  > img {
    width: 440px;
    height: 330px;
    box-shadow: 0px 0px 12px var(--main-dark-color);
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 24px;
  }
}

.expand-container {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, padding-top 0.5s ease, opacity 0.5s ease;
}

.expand-container.expanded {
  max-height: 280px;
  opacity: 1;
}

.show-me {
  display: none;
}

.project-btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 43px;
  padding-inline: 30px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 30px;
}

.primary {
  background-color: var(--main-bright-color);
  color: var(--second-dark-color);
  border: none;
  &:hover {
    background: linear-gradient(
      var(--main-bright-color),
      var(--main-bright-color),
      var(--second-bright-color)
    );
  }
}

.secondary {
  background-color: transparent;
  color: var(--main-bright-color);
  border: 1px solid var(--main-bright-color);
  &:hover {
    background: rgba(137, 188, 217, 0.2);
    color: rgb(255, 253, 253);
  }
}

@media (max-width: 1199.98px) {
  section {
    width: 800px;
    height: 480px;
    padding: 24px;
    gap: 24px;
  }
  .project-content {
    > img {
      width: 300px;
      height: 225px;
    }
  }
}

@media (max-width: 991.98px) {
  section {
    width: 600px;
    height: 430px;
    padding: 20px;
  }

  .title-content {
    gap: 8px;
    > :first-child {
      font-size: 90px;
      line-height: 0.85;
    }
    > :nth-child(2) {
      > :first-child {
        font-size: 40px;
        line-height: 1.2;
      }
      > :nth-child(2) {
        font-size: 18px;
      }
    }
  }

  .project-content {
    gap: 24px;
    > img {
      width: 200px;
      height: 220px;
    }
  }
}

@media (max-width: 767.98px) {
  section {
    width: 510px;
    height: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }

  .project-content {
    width: 100%;
    padding-left: 0px;
    flex-direction: column;
    gap: 24px;
    > div {
      gap: 0px;
      align-items: center;
      > img {
        display: block;
        width: 100%;
        height: auto;
        margin-block: 24px;
        box-shadow: 0px 0px 12px var(--main-dark-color);
        flex-shrink: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 24px;
      }
    }
    > img {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  section {
    width: 100%;
    height: auto;
    padding: 16px;
    gap: 0px;
    > :nth-child(2) {
      display: block;
      font-size: 16px;
      color: var(--main-dark-color);
    }
  }

  .title-content {
    gap: 8px;
    > :first-child {
      font-size: 40px;
      line-height: 0.85;
    }
    > :nth-child(2) {
      > :first-child {
        font-size: 24px;
        line-height: 1.2;
      }
      > :nth-child(2) {
        display: none;
      }
    }
  }

  .project-content {
    > div {
      > img {
        margin-block: 24px 8px;
      }
    }
  }

  .expand-container.expanded {
    padding-top: 16px;
  }

  .show-me {
    cursor: pointer;
    padding-block: 24px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    > span {
      font-size: 14px;
      color: var(--main-bright-color);
      text-decoration: underline;
    }
    > img {
      width: 16px;
      height: 16px;
    }
  }
}
