<section>
  <div class="title-content">
    <div>{{ project.id }}</div>
    <div>
      <div>{{ 'PROJECT' | translate }} {{ project.name }}</div>
      <div>{{ project.techStack }}</div>
    </div>
  </div>

  <div class="expand-container" [class.expanded]="isDesktop || isActive">
    {{ project.techStack }}
  </div>

  <div class="project-content">
    <div>
      <p class="expand-container" [class.expanded]="isDesktop || isActive">
        {{ aboutLanguage }}
      </p>

      <img src="assets/img/{{ project.image }}" alt="Project image" />

      <div class="expand-container" [class.expanded]="isDesktop || isActive">
        <a class="project-btn secondary" href="{{ project.repositoryUrl }}" target="_blank" rel="noopener">
          GitHub
        </a>
        <a class="project-btn primary" href="{{ project.liveDemoUrl }}" target="_blank" rel="noopener">
          Live Test
        </a>
      </div>
    </div>

    <img src="assets/img/{{ project.image }}" alt="Project image" />
  </div>

  <div class="show-me" (click)="onToggle()">
    <span>
      {{ isActive ? ( 'MY_WORK_SHOW_LESS' | translate ) : ( 'MY_WORK_SHOW_MORE' | translate ) }}
    </span>
    <img
      src="assets/img/triangle-{{ isActive ? 'up' : 'down' }}.svg"
      alt="Arrow"
    />
  </div>
</section>
