nav {
  // position: fixed;
  // left: 0;
  // top: 0;
  // height: 100vh;
  // width: 172px;
  padding-top: 16px;
  padding-bottom: 80px;
  // background: linear-gradient(
  //   135deg,
  //   rgb(59, 107, 238),
  //   rgb(59, 107, 238),
  //   rgb(33, 58, 126)
  // );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  > a {
    height: 80px;
    width: 80px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  > div {
    height: 70vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    > a {
      font-size: 30px;
      color: rgb(48, 48, 48);
      background-color: transparent;
      text-decoration: none;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      text-align: center;
      display: inline-block;
      &:hover {
        color: transparent;
        -webkit-text-stroke: 1.2px rgb(48, 48, 48);
        writing-mode: vertical-rl;
      }
    }
  }

  > img {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  padding-block: 16px 32px;
  background: linear-gradient(
    150deg,
    rgb(59, 107, 238),
    rgb(59, 107, 238),
    rgb(33, 58, 126)
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 16px rgb(0, 0, 0);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  z-index: 9999;
  > img {
    cursor: pointer;
    margin: 0 24px 16px 0;
    align-self: flex-end;
  }
  > a {
    font-size: 24px;
    color: rgb(48, 48, 48);
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    &:hover {
      color: transparent;
      -webkit-text-stroke: 1.2px rgb(48, 48, 48);
    }
  }
}

.mobile-menu.show {
  display: flex;
}

@media (max-width: 1199.98px) {
  nav {
    width: 132px;
    padding-bottom: 40px;
    > a {
      height: 64px;
      width: 64px;
    }
    > div {
      > a {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  nav {
    width: 100px;
    padding-bottom: 24px;
    > a {
      height: 56px;
      width: 56px;
    }
    > div {
      > a {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  nav {
    height: 64px;
    width: 100%;
    padding: 16px 32px;
    background: linear-gradient(
      150deg,
      rgb(59, 107, 238),
      rgb(59, 107, 238),
      rgb(33, 58, 126)
    );
    display: flex;
    flex-direction: row;
    gap: 32px;

    > a {
      height: 48px;
      width: 48px;
    }

    > div {
      height: auto;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: space-between;
      > a {
        font-size: 20px;
        writing-mode: horizontal-tb;
        transform: none;
        &:hover {
          writing-mode: horizontal-tb;
          transform: none;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  nav {
    padding: 16px clamp(16px, 5vw, 32px);
    justify-content: space-between;
    gap: 0;
    > div {
      display: none;
    }
    > img {
      display: block;
      cursor: pointer;
    }
  }
}
