section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/code-background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
  }

  > img {
    height: 100%;
    max-height: 100%;
    max-width: calc(100vw - 172px);
    object-fit: cover;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  > div {
    position: relative;
    z-index: 99;
    margin-bottom: 18vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
}

.font-name {
  display: inline-flex;
  gap: 24px;

  > span {
    font-size: 100px;
    font-weight: bold;
    color: var(--main-bright-color);
    -webkit-text-stroke: 0.5px var(--second-dark-color);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(120px);
    animation: flyIn 0.6s ease-out forwards;
  }
  > span:nth-child(1) {
    animation-delay: 0.4s;
  }

  > span:nth-child(2) {
    animation-delay: 0.8s;
  }
}

.font-job {
  font-size: 48px;
  font-weight: bold;
  color: rgba(38, 46, 52, 0.8);
  -webkit-text-stroke: 1px rgb(255, 253, 253);
  align-self: flex-end;
  opacity: 0;
  transform: translateY(120px);
  animation: flyIn 0.6s ease-out forwards;
  animation-delay: 1.2s;
}

.font-skills {
  font-size: 16px;
  align-self: flex-end;
  opacity: 0;
  transform: translateY(120px);
  animation: flyIn 0.6s ease-out forwards;
  animation-delay: 1.2s;
}

@keyframes flyIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-img {
  position: absolute;
  top: 15vh;
  right: 5vw;
}

@media (max-width: 1199.98px) {
  section {
    > img {
      height: 90%;
      max-width: calc(100vw - 132px);
    }
  }
  .font-name {
    gap: 20px;
    > span {
      font-size: 80px;
    }
  }
  .font-job {
    font-size: 40px;
  }
}

@media (max-width: 991.98px) {
  section {
    > img {
      height: 80%;
      max-width: calc(100vw - 100px);
    }
  }
  .font-name {
    gap: 18px;
    > span {
      font-size: 72px;
    }
  }
  .font-skills {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  section {
    align-items: start;
    > img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }

    > div {
      margin-top: 20vh;
      display: flex;
    }
  }

  .font-name {
    gap: 16px;
    > span {
      font-size: 64px;
      align-self: center;
    }
  }

  .font-job {
    font-weight: normal;
    align-self: center;
  }

  .font-skills {
    font-size: 14px;
    align-self: center;
  }
}

@media (max-width: 575.98px) {
  .font-name {
    gap: clamp(8px, 2vw, 24px);
    > span {
      font-size: clamp(36px, 11vw, 64px);
    }
  }

  .font-job {
    font-size: clamp(24px, 7vw, 40px);
  }

  .font-skills {
    font-size: clamp(10px, 3vw, 14px);
  }
}
