section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/code-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
  }

  > img {
    height: 90vh;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  > div {
    margin-top: 240px;
    position: relative;
    z-index: 99;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
}


.font-name {
  font-size: 100px;
  font-weight: bold;
  color: var(--main-color);
}

.font-job {
  font-size: 48px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--main-color);
  align-self: flex-end;
}

@media (max-width: 1200px) {
  .font-name {
    font-size: 80px;
  }
  
  .font-job {
    font-size: 40px;
  }
  
}