<section [class.show]="internalShow" (click)="toggleOverlay()">
  <div
    [ngStyle]="contentStyle"
    (transitionend)="onTransitionEnd($event)"
    (click)="$event.stopPropagation()"
  >
    <img
      src="assets/img/close.svg"
      alt="Close Window"
      (click)="toggleOverlay()"
    />

    <span>{{ headlineLanguage }}</span>
    <p>{{ aboutLanguage }}</p>

    @if (ability?.map) {
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d153223.87772287225!2d9.61669969309135!3d53.12593595095752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b1afd6f7edf42f%3A0x4263df27bd656c0!2s29640%20Schneverdingen!5e0!3m2!1sen!2sde!4v1739266252409!5m2!1sen!2sde"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    }
  </div>
</section>
