app-navbar {
  width: 172px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.sections {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  height: 100vh;
  //   > * {
  //     background-color: rgb(10, 10, 10);
  //   }
  // > :first-child {
  //   flex: 0 0 100vw;
  // }
  // > :not(:first-child) {
  //   flex: 0 0 calc(100vw - 172px);
  // }
}

app-landing-page {
  background-color: rgb(10, 10, 10);
  flex: 0 0 100vw;
}

app-why-me {
  background: linear-gradient(
    70deg,
    rgb(10, 10, 10),
    rgb(38, 38, 38),
    rgb(10, 10, 10)
  );
  flex: 0 0 calc(100vw - 172px);
}

app-my-skill-set {
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: end;
  align-items: end;
  flex: 0 0 calc(100vw - 172px);
}

app-my-work {
  background: linear-gradient(
    70deg,
    rgb(10, 10, 10),
    rgb(38, 38, 38),
    rgb(10, 10, 10)
  );
  display: flex;
  align-items: center;
}

app-contact-me {
  background-color: blue;
}
