:host {
  height: 100vh;
  margin-left: 172px;
  overflow-x: auto;
  display: flex;
}

app-landing-page {
  flex: 0 0 calc(100vw - 172px);
  background-color: var(--main-dark-color);
}

app-why-me,
app-my-work {
  background: linear-gradient(
    70deg,
    var(--main-dark-color),
    var(--main-dark-color),
    var(--second-dark-color),
    var(--main-dark-color),
    var(--main-dark-color)
  );
}

app-my-skill-set,
app-contact-me {
  background-color: var(--main-dark-color);
}

@media (max-width: 1199.98px) {
  :host {
    margin-left: 132px;
  }

  app-landing-page {
    flex: 0 0 calc(100vw - 132px);
  }
}

@media (max-width: 991.98px) {
  :host {
    margin-left: 100px;
  }

  app-landing-page,
  app-why-me,
  app-my-skill-set {
    flex: 0 0 calc(100vw - 100px);
  }
}

@media (max-width: 767.98px), (max-height: 700px) {
  :host {
    position: absolute;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    width: 100%;
    margin-left: 0;
    overflow-y: auto;
    flex-direction: column;
  }

  app-landing-page {
    height: 100%;
    flex: 0 0 auto;
  }

  app-why-me,
  app-my-work {
    flex: initial;
    justify-content: center;
    background: linear-gradient(
      15deg,
      var(--main-dark-color),
      var(--main-dark-color),
      var(--second-dark-color),
      var(--main-dark-color),
      var(--main-dark-color)
    );
  }

  app-my-skill-set,
  app-contact-me {
    width: 100%;
    flex: initial;
    justify-content: center;
  }
}
