:host {
  height: 100vh;
  margin-left: 172px;
  overflow-x: auto;
  display: flex;
}

app-landing-page {
  flex: 0 0 calc(100vw - 172px);
  background-color: rgb(10, 10, 10);
}

app-why-me {
  flex: 0 0 calc(100vw - 172px);
  background: linear-gradient(
    70deg,
    rgb(10, 10, 10),
    rgb(38, 38, 38),
    rgb(10, 10, 10)
  );
  display: flex;
}

app-my-skill-set {
  flex: 0 0 calc(100vw - 172px);
  background-color: rgb(10, 10, 10);
  display: flex;
  align-items: end;
}

app-my-work {
  background: linear-gradient(
    70deg,
    rgb(10, 10, 10),
    rgb(38, 38, 38),
    rgb(10, 10, 10)
  );
  display: flex;
  align-items: center;
}

app-contact-me {
  background-color: rgb(10, 10, 10);
}

@media (max-width: 1199.98px) {
  :host {
    margin-left: 132px;
  }

  app-landing-page,
  app-why-me,
  app-my-skill-set {
    flex: 0 0 calc(100vw - 132px);
  }
}

@media (max-width: 991.98px) {
  :host {
    margin-left: 100px;
  }

  app-landing-page,
  app-why-me,
  app-my-skill-set {
    flex: 0 0 calc(100vw - 100px);
  }
}

@media (max-width: 767.98px) {
  :host {
    position: absolute;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    width: 100%;
    margin-left: 0;
    overflow-y: auto;
    flex-direction: column;
  }

  app-landing-page {
    height: 100%;
    flex: 0 0 auto;
  }

  app-why-me,
  app-my-work {
    flex: initial;
    justify-content: center;
    background: linear-gradient(
      15deg,
      rgb(10, 10, 10),
      rgb(38, 38, 38),
      rgb(10, 10, 10)
    );
  }

  app-my-skill-set,
  app-contact-me {
    width: 100%;
    flex: initial;
    justify-content: center;
  }
}
