footer {
  width: 100px;
  height: 100%;
  background: linear-gradient(
    135deg,
    var(--main-bright-color),
    var(--main-bright-color),
    var(--second-bright-color)
  );
  > * {
    display: none;
  }
}

app-socialmedia {
  display: none;
}

@media (max-width: 1199.98px) {
  footer {
    width: 80px;
  }
}

@media (max-width: 767.98px) {
  app-socialmedia {
    display: block;
    background-color: var(--main-dark-color);
  }

  footer {
    width: 100%;
    height: auto;
    padding-block: 24px;
    background: linear-gradient(
      150deg,
      var(--main-bright-color),
      var(--main-bright-color),
      var(--second-bright-color)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    > img {
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      > p {
        color: var(--second-dark-color);
      }
      > div {
        display: flex;
        gap: 24px;
        > a {
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          color: var(--second-dark-color);
          &:hover {
            color: var(--main-dark-color);
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  footer {
    > img {
      display: none;
    }
  }
}
