<section>
  <h1>Legal Notice</h1>
  <h2>Information pursuant to § 5 TMG</h2>
  <p>
    Susanne Renken
    <br />
    Birkenhain 2d
    <br />
    29640 Schneverdingen
  </p>

  <h3>Contact</h3>
  <p>
    Telephone: +49 173 3963 852
    <br />
    E-mail: renken.susanne&#64;gmail.com
  </p>

  <h3>Responsible for the content</h3>
  <p>Susanne Renken (same address as above)</p>

  <h2>Disclaimer</h2>
  <h3>Content</h3>
  <p>
    This website is part of a personal portfolio, intended solely for the
    presentation of professional projects and experiences.
    <br />
    The contents of this website (portfolio) are created with the greatest care.
    However, no guarantee is given for the correctness, completeness, and
    up-to-dateness of the content.
  </p>
  <h3>Links to external websites (e.g. LinkedIn, GitHub)</h3>
  <p>
    This website contains links to external third-party websites, whose content
    is beyond my control. Therefore, I cannot accept any liability for these
    external contents.
    <br />
    The respective provider or operator is always responsible for the content of
    the linked pages. If I become aware of any legal violations, I will remove
    such links immediately.
  </p>

  <h2>Copyright</h2>
  <h3>Content</h3>
  <p>
    The texts, images, and other content provided on this website are protected
    by copyright (unless otherwise indicated) and may not be reproduced, edited,
    distributed, or used without my consent.
    <br />
    If any content was not created by me, the copyrights of third parties are
    respected, and appropriate sources are indicated.
    <br />
    If I become aware of any copyright infringements, I will remove the affected
    content immediately.
  </p>
  <h3>Images Used</h3>
  <p>
    Profile photo: K. Fischer
    <br />
    Project images: T. Golz
  </p>
</section>
<!-- <section>
  <h1>Impressum</h1>
  <h2>Angaben gemäß § 5 TMG</h2>
  <p>
    Susanne Renken
    <br />
    Birkenhain 2d
    <br />
    29640 Schneverdingen
  </p>

  <h3>Kontakt</h3>
  <p>
    Telephone: 0173 3963 852
    <br />
    E-Mail: renken.susanne&#64;gmail.com
  </p>

  <h3>Verantwortlich für den Inhalt</h3>
  <p>
    Susanne Renken (gleiche Anschrift wie oben)
  </p>

  <h2>Haftungsausschuss</h2>
  <h3>Inhalte</h3>
  <p>
    Diese Website ist Teil eines persönlichen Portfolios und dient
    ausschließlich der Präsentation professioneller Projekte und Erfahrungen.
    <br />
    Die Inhalte dieser Website (Portfolio) werden mit größter Sorgfalt erstellt.
    Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann jedoch
    keine Gewähr übernommen werden.
  </p>
  <h3>Links zu externen Websites (z.B. LinkedIn, GitHub)</h3>
  <p>
    Diese Website enthält Links zu externen Websites Dritter, auf deren Inhalte
    kein Einfluss genommen werden kann. Deshalb kann für diese fremden Inhalte
    keine Gewähr übernehmen.
    <br />
    Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber verantwortlich. Bei Bekanntwerden von
    Rechtsverstößen werde ich entsprechende Links umgehend entfernen.
  </p>

  <h2>Urheberrecht</h2>
  <h3>Inhalte</h3>
  <p>
    Die auf dieser Website bereitgestellten Texte, Bilder und sonstigen Inhalte
    sind – soweit nicht anders gekennzeichnet – urheberrechtlich geschützt und
    dürfen nicht ohne meine Zustimmung vervielfältigt, bearbeitet, verbreitet
    oder verwertet werden.
    <br />
    Soweit Inhalte nicht von mir selbst erstellt wurden,
    werden die Urheberrechte Dritter beachtet und entsprechende Quellen
    gekennzeichnet.
    <br />
    Bei Bekanntwerden von Urheberrechtsverletzungen werde ich
    betroffene Inhalte umgehend entfernen.
  </p>
  <h3>Verwendete Bilder</h3>
  <p>
    Profilfoto: K. Fischer
    <br />
    Projektbilder: T. Golz
  </p>
</section> -->
<app-footer></app-footer>
