<section>
  <div class="social-media">
    <a href="mailto:renken.susanne@gmail.com">
      <img class="img-mail" src="assets/img/mail-btn-default.svg" alt="Mail" />
    </a>
    <a href="https://linkedin.com/in/susanne-renken-11830b346/" target="_blank">
      <img
        class="img-linkedin"
        src="assets/img/linkedin-btn-default.svg"
        alt="LinkedIn"
      />
    </a>
    <a href="https://github.com/SusanneRenken" target="_blank">
      <img
        class="img-github"
        src="assets/img/github-btn-default.svg"
        alt="GitHub"
      />
    </a>
  </div>
  <div class="language-switch">
    <span [class.active]="currentLang === 'de'" (click)="switchLanguage('de')"
      >DE</span
    >
    |
    <span [class.active]="currentLang === 'en'" (click)="switchLanguage('en')"
      >EN</span
    >
  </div>
</section>