section {
  width: 920px;
  height: 560px;
  padding: 32px;
  background-color: rgba(137, 188, 217, 0.15);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.additional-desktop {
  display: flex;
  flex-direction: column;
  gap: 32px;
  > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.project {
  flex: 1;
  padding: 16px 24px 24px 24px;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  > h2 {
    margin-top: 0px;
  }
  > :nth-child(2) {
    font-size: 18px;
    color: var(--main-dark-color);
  }
  > :nth-child(4) {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 8px;
    > img {
      width: 200px;
      height: auto;
      padding: 8px;
      object-fit: contain;
    }
  }
}

.project-btn {
  display: flex;
  align-items: center;
  width: 110px;
  height: 43px;
  padding-inline: 30px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 30px;
  background-color: transparent;
  color: var(--main-bright-color);
  border: 1px solid var(--main-bright-color);
  &:hover {
    background: rgba(137, 188, 217, 0.2);
    color: rgb(255, 253, 253);
  }
}

.additional-mobile {
  display: none;
}

@media (max-width: 1199.98px) {
  section {
    width: 800px;
    height: 480px;
    padding: 24px;
    gap: 24px;
  }
}

@media (max-width: 991.98px) {
  section {
    width: 600px;
    height: 430px;
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  section {
    width: 100%;
    height: auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }

  .additional-desktop {
    display: none;
  }
  .additional-mobile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  section {
    height: auto;
    padding: 16px;
    gap: 0px;
  }
}
